@font-face{
	font-family: bitwise;
	src: url('./fonts/bitwise.ttf');
}

html,
body{
	width: 100%;
	color:#fff;
	background-color: #333;
	font-family: bitwise, serif;
}

a{
	color:#2fa83b;
	font-style: none;
}

a:hover,a:visited{
	color:#2fa83b;
	font-style: none;
	text-decoration:none; 
}

.pencil{
	position: absolute;
	width: 5rem;
	top: 15rem;
	left:7.75rem;
	transform: rotate(125deg);
	filter: grayscale(67.5%);
	z-index: 2;
}

.coffee{
	position: absolute;
	width: 10rem;
	top: 10rem;
	left: 70rem;
	filter: grayscale(50%);
}

.paper{
	filter: grayscale(100%);
	position: absolute;
	z-index: 1;
	width: 10rem;
	left: 1.875rem;
	height: 17.5rem;
}

.fcc{
	display: inline;
	color:#2fa83b;
}

.calcText{
	text-align: center;
}

.result{
	text-align: center;
	background-color: #fff;
	color:#000;
	padding: 0;
	margin-bottom: 2rem;
	margin-top: 0;
}

.container{
	box-shadow: 5px 10px 18px #444;
	background-color: #555;
	margin-top: 16rem;
	width: 30rem;
	margin-bottom: 2rem;
	box-shadow: 
}

.col-sm-3 button{
	min-width: 50%;
	margin: 0.5rem;
}

.number,.operator{
	background-color: inherit;
	border: none;
}

.equals{
	background-color: inherit;
	border: none;
	padding: 0;
	margin:0;
}

.number:hover{
	background-color: #eaff35;
	color:#000;
	font-weight: bold;
}

.operator:hover{
	background-color: #42f477;
	color:#000;
	font-weight: bold;
}

.equals:hover{
	background-color: #f44162;
	color:#000;
	font-weight: bold;
}

.col-sm-6 button{
	background-color: #555;
	color: #000;
	border: none;
	font-weight: bold;
	text-align: center;
	min-width: 100%;
}

.col-sm-6 button:hover{
	background-color: #3f7bdb;
}




